body{
    background-color: var(--navy) !important;
  }
  .tree-container{
    width: 500px;
    height: 600px;
      margin-left: auto;
      margin-right: auto;
    background-color: var(--navy);
    margin-top: 8px;
  }